# Ignore node_modules directory
node_modules/

# Ignore built application files
/dist/

# Ignore log files
*.log

# Ignore environment-specific files
.env

# Ignore package lock files
package-lock.json
yarn.lock